[Unit]
Description=bucket-init
Requires=open-balena-s3.service
After=open-balena-s3.service
StartLimitIntervalSec=0

[Service]
StandardOutput=journal+console
StandardError=journal+console
EnvironmentFile=/etc/docker.env
ExecStart=/sbin/create-buckets.sh
Restart=on-failure

[Install]
WantedBy=basic.target
