[Unit]
Description=open-balena-s3
Requires=confd.service
After=confd.service
StartLimitIntervalSec=0

[Service]
StandardOutput=journal+console
StandardError=journal+console
EnvironmentFile=/usr/src/app/config/env
ExecStart=/go/bin/minio server --address ":80" --console-address ":43697" /export
Restart=always

[Install]
WantedBy=basic.target
