[Unit]
Description=open-balena-s3

[Service]
StandardOutput=journal+console
StandardError=journal+console
ExecStart=/go/bin/minio server --address ":80" /export

[Install]
WantedBy=basic.target
