{
    "version": "9",
    "hosts": {
        "localhost": {
            "url": "http://127.0.0.1",
            "accessKey": "{{getenv "S3_MINIO_ACCESS_KEY"}}",
            "secretKey": "{{getenv "S3_MINIO_SECRET_KEY"}}",
            "api": "S3v4"
        }
    }
}
